.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .pagination-button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: lightgray;
    color: black;
    cursor: pointer;
    border: none;
    border-radius: 3px;
  }
  
  .pagination-button:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
  
  .pagination-button.active {
    background-color: gray;
    color: white;
  }
  